.task-card{
    border-radius: 20px;
}
.status{
    color: white;
    border-radius: 50px;
}

.anystatus{
    background-color: rgb(247, 0, 255);
}


@media only screen and (max-width: 450px) {
   .freelanceremail{
    font-size: 13px;
}
    
}