 /* .dashboard{
     --bs-gutter-x: 0rem !important;
}  */

/* .sidenav---collapsed---LQDEv{

    width: 60px !important;
    min-height: 100vh;
}

.sidenav---expanded---1KdUL{
    width: 240px !important;
    min-height: 100vh;   
} */
.sidenav---sidenav---_2tBP{
    background-color: #2a1255 !important;
}

.Admin{
    background-color: #2a1255 ;
}
.Admin-body{
    margin-left: 60px !important;
    min-height: 100vh;   
    background-color: rgba(239, 239, 239, 0.999) !important;   
}
