.sidenav---sidenav-toggle---1KRjR {
    height: 50px !important;
}
.log-out{
    background-color: #DC3545  !important;
}
.log-out:hover{
    background-color: #df192d !important;
    color: green !important;

}
.sidenav---sidenav-navitem---uwIJ-{
    color: white !important;
}

.sidebar{
    position: relative;
    left: -4px !important;
}